.bid_label {
    color: #999;
    font-weight: bold;
    width: 150px;
}

.bid_wrapper {
    background: #DDD;
    border: 1px solid #BBB;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.bid_input {
    padding: 3px;
    border: 1px solid #999;
    font-size: 12px;
    background: #FFF;
    margin-bottom: 10px;
    width: 100%;
}

.bid_submit {
    font-size: 12px;
}


.donate_input {
    width: 100%;
    font-size: 12px; 
    color: #999;
    padding: 5px;
    border: 1px solid #666;
}

.donate_button {
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
}

.bid_section {
    height: 880px;
}
#event_menu {
    border: 1px solid #999;
}
#event_menu a {
    display: inline-block;
    width: 200px;
    padding: 5px;
    font-size: 12px;
    background: #EEE;
}
#event_menu a:hover {
    background: rgb(109, 174, 255);
}
#event_menu .event_section {
    display: inline-block;
    width: 200px;
    padding: 5px;
    font-size: 12px;
    background: #669;
    color: #FFF;
    font-weight: bold;
}

#bid_welcome {
    margin: 20px;
}

td {
    vertical-align: top !important;
}